<div class="jumbotron text-center">
<h1>About</h1>
</div>
<p>Hotel advisor offers advice from hundreds of users about more than 10 hotels with thousands of reviews. It advices the users the best hotel rated by users. </p>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Col1</h3>
			<p>Hundreds of users</p>
		</div>
		<div class="col-sm-4">
			<h3>col2</h3>
			<p>Thousands of reviews</p>
		</div>
		<div class="col-sm-4">
			<h3>clo3</h3>
			<p>Best of all</p>
		</div>
	</div>
</div>