<div class="jumbotron text-center">
<h1>About</h1>
</div>
<p>Hotel advisor offers advice from hundreds of users about more than 10 hotels with thousands of reviews. It advices the users the best hotel rated by users. </p>

