@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
.bg-2 {
    background-color: #1C2331;
    /* Dark Blue */
    color: #ffffff;
}

.well {
    background-color: #000;
    color: #fff !important;
    a {
        color: #fff;
    }
    border-radius: 25px;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
    width: 100%;
}
/* universal */

.jumbotron {
    background-color: #3F729B;
    /* light blue */
    color: #ffffff;
    background-image: url(http://www.pixelstalk.net/wp-content/uploads/2016/10/Hotel-Backgrounds-620x388.jpg);
}

.container-fluid {
    padding: 40px 30px;
}

.btn {
    margin: 15px 0;
    background: #000;
    color: #fff;
    border-radius: 0;
}

.btn:hover {
    color: #fff;
}

.modal-header,
h4,
.close {
    text-align: center;
    font-size: 30px;
}


body {
    padding-top: 60px;
       background-color: #8FD4FF;
    background-image: -webkit-linear-gradient(bottom left, #8FD4FF 10%, #ff7b9c 65%, #ffc019 125%);
    background-image: linear-gradient(to top right, #8FD4FF 10%, #ff7b9c 25%, #ffc019 94%);

}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
    &:hover {
        box-shadow: 5px 5px 40px rgba(0, 0, 0, .2);
    }
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #fff;
}

h4 {
    font-size: 0.85em;
}

h3 {
    font-size: 2.1em;
}

h5 {
    font-size: 1.1em;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

.dropdown {
    display: inline-block;
}


/* footer */

footer {
    background-color: #000;
    align-self: center;
    margin-top: 45px;
    color: #fff !important;
    text-align: center;
    overflow: hidden;
    padding: 3em 0em;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    a {
        text-decoration: none;
        color: #fff !important;
        &:hover {
            text-decoration: underline;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

h1 {
    font-size: 2.4em;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 5px;
}

h2 {
    font-size: 1.4em;
    text-align: center;
}


/* Hotels index */

.hotels {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
    }
}


/* sidebar */

aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    text-align: center;
    width: 100px;
    height: 100px;
    img {
        max-width: 100px;
    }
}


/* forms */

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input,
textarea,
select,
.uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

select {
    font-family: inherit;
    font-size: 18px;
    line-height: inherit;
    background-color: #000;
    color: #fff;
    width: 200px;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}


/* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}


/* reviews 

.reviews {
    list-style: none;
    padding: 0;
    li {
        padding: 10px 0;
    }
    .user {
        margin-top: 5em;
        padding-top: 0;
    }
    .hotel {
        margin-top: 5em;
        padding-top: 0;
    }
    .content {
        display: block;
        margin-left: 60px;
        img {
            display: block;
            padding: 5px 0;
        }
    }
    .timestamp {
        color: #000;
        display: block;
        margin-left: 60px;
    }
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}
*/

.comments {
    list-style: none;
    li {
        padding: 10px 0;
    }
    .comment {
        background-color: #000;
        border-radius: 20px;
        color: #fff;
        min-height: 90px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 20px 20px 0;
    }
    .comment .avatar {
        background-color: #fff;
        border-radius: 0 60px 60px 0;
        border: 5px solid #fff;
        display: block;
        float: left;
        margin: -20px 20px 0 -20px;
    }
    .clear {
        clear: both;
    }
    .comment .avatar .inner {
        background: #000;
        border-radius: 60px;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
    }
    .comment p {
        padding-bottom: 20px;
        a {
            color: #FFF;
        }
        .user {
            margin-top: 5em;
            padding-top: 0;
            font-size: 22px;
        }
        .hotel {
            margin-top: 5em;
            padding-top: 0;
        }
        .timestamp {
            color: #e5e5e5;
            display: block;
            margin-left: 60px;
        }
    }
}

aside {
    textarea {
        height: 100px;
        margin-bottom: 5px;
    }
}

span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}


/* navigator*/

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #fff;
}

.carousel-indicators li {
    border-color: #fff;
}

.carousel-indicators li.active {
    background-color: #1C2331;
}

.item h3 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}


/* navbar */

.navbar {
    margin-bottom: 0;
    background-color: #1C2331;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    text-indent: 0.5em;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar .img-nav {
    background-color: #1C2331;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img {
        max-width: 30px;
    }
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #1C2331 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.dropdown-menu li a {
    background-color: #fff !important;
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1!important;
    color: #000 !important;
    font-size: 14px;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

.rank {
    font-family: cursive;
    font-size: 25px;
}


.amenity {}

.modal-header {
    background-color: #3F729B;
    color: #fff;
}

.panel-group .panel , .panel-default{
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 0px;
}
.panel:hover, .panel-default:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
button, html input[type="button"], input[type="reset"], input[type="submit"]{
border-radius: 4px;
background-color: #f4511e;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 20px;
padding: 6px;
transition: all 0.5s;
cursor: pointer;
margin: 0px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}