@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.well{
  background-color: #F8F8F8;
}
/* universal */
.jumbotron {
    background-color: #474e5d; /* dark blue */
    color: #ffffff;
    background-image:url(http://www.pixelstalk.net/wp-content/uploads/2016/10/Hotel-Backgrounds-620x388.jpg);

}
.container-fluid {
    padding: 60px 50px;
}

.btn {
    margin: 15px 0;
    background: #000;
    color: #fff;
    border-radius: 0;
  }
  .btn:hover {
      box-shadow: 1px 2px 5px #000000;
      color: #fff;
   }
  .modal-header, h4, .close {
      text-align: center;
      font-size: 30px;
  }

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  &:hover{
    box-shadow: 5px 5px 40px rgba(0,0,0, .2);
  }
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
h4{
  font-size: 0.85em;
}
h3{
  font-size: 2.1em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

h1{
      font-size: 2.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 5px;
      
    }
h2{
  font-size: 1.4em;
  text-align: center;

}

/* Hotels index */

.hotels {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* reviews */

.reviews {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .hotel {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* navigator*/

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #fff;
}

.carousel-indicators li {
    border-color: #fff;
}

.carousel-indicators li.active {
    background-color: #474e5d;
}

.item h3 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}


/* navbar */

.navbar {
    margin-bottom: 0;
    background-color: #474e5d;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    text-indent: 0.5em;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff  !important;
    
}


.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #474e5d !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.dropdown-menu li a{
    background-color: #fff !important;
      color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: #000 !important;
      color: #fff !important;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.rank{
  font-family: cursive;
  font-size: 25px;
}
.amenity{

}
.modal-header{
  background-color:#eee;
}