.row .col-sm-4 .panel{
	margin-top:40px;
}
.head{
	h1{
		padding: 20px;
		color: #fff;
	}
}
.form-inline .form-group .btn{
	color: #1C2331;
	a{
	color: #fff;
	}
}

.btn{
    margin: 0px;
    padding: 5px;
    background: #1C2331;
    color: #fff;
    border-radius: 2px;
    order:none;
}
.form-inline .form-group a{
		color:#fff;
		font-size: 16px;
}
input[type="search"] {
    padding: 6px;
    border: none;
    font-size: 16px;
}

.row .col-sm-4 .panel .panel-body .amenity .img{
	width: 45px;
padding: 0px;
margin: 2px;
}
