<%provide(:title, 'All Hotels')%>
<div class="jumbotron text-center">
<h1>All Hotels</h1>
</div>
<ul class="hotels">
	<% @hotels.each do |hotel| %>
			<li>
			
			<%=link_to hotel.name, hotel %>
			</li>
		
	<% end %>
</ul>