
<% render 'shared/rank' , hotels: @hotels %>

<%provide(:title, 'All Hotels')%>
<div class="jumbotron text-center">
<h1>All Hotels</h1>
</div>
<ul class="hotels">
	<% @hotels.each do |hotel| %>
		<div class="row">
        	<div class="col-sm-9">
          		<div class="well">
          			<div class="rank"> <%= hotel.rank %> <%=link_to hotel.name, hotel %>  </div>
				</div>
			</div>
		</div>		
	<% end %>
</ul>