<%provide(:title, 'All Hotels')%>
<div class="jumbotron text-center">
<h1>All Hotels</h1>
</div>
<ul class="hotels">
	<% @hotels.each do |hotel| %>
		<div class="row">
        	<div class="col-sm-9">
          		<div class="well">	
					<%=link_to hotel.name, hotel %>
				</div>
			</div>
		</div>
		
	<% end %>
</ul>