<footer class="page-footer blue center-on-small-only">
 <div class="container">
  <small>	
  	<%= link_to "Hotel Advisor",   root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %> <span class="glyphicon glyphicon-question-sign"> </span>	</li>
      <li><%= link_to "About", about_path %> <span class="glyphicon glyphicon-info-sign"></span></li>
    </ul>
  </nav>
   <div class="footer-copyright">
        <div class="container-fluid">
            © 2015 Copyright: <a href="https://myhoteladvisor.com"> hoteladvisor.com </a>

        </div>
    </div>
   </div>
</footer>
