<footer class="footer">
  <small>	
  	<%= link_to "Hotel Advisor",   root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %> <span class="glyphicon glyphicon-question-sign"> </span>	</li>
      <li><%= link_to "About", about_path %> <span class="glyphicon glyphicon-info-sign"></li>
    </ul>
  </nav>
</footer>
